
@font-face {
    font-family: RobotoBold;
    src: url("Roboto-Bold.ttf");
}

body {
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 275px;
    width: 175px;
    font-family: RobotoBold;
    color: white;
}

#logo {
    width: 100px;
    height: 100px;
}

h2, label {
    text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 5px 5px 5px 38px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 4px;
    background-color: #2b2b2b;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    color: white;
    font-family: RobotoBold;
}

input[type=text]:focus {
    border: 2px solid #ff0000;

}

button {
    margin-top: 10px;
    background-color: red;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    font-family: RobotoBold;
    cursor: pointer;
    outline: none;
    transition: all 0.2s;
}

button:active {
    background-color: #b70000;

}

#inputHolder {
    position: relative;
}
#inputHolder span{
    position: absolute;
    color: white;
    top: 16px;
    left: 7px;
}

